body, h3, p {
    padding: 0;
    margin: 0;
}
.container {
    background-color: cornflowerblue;
}
.container::after {
    content: '';
    clear: both;
    display: block;
}
.item {
    padding: 5%;
    float: left;
}
.item-a {
    width: 30%;
    background-color: yellow;   
}
.item-b {
    width: 50%;
    background-color: orange;
}
.footer {
    background-color: gray;
}